In [2]:
# dependencies
import pandas as pd

In [3]:
# read csv dated June 2017
csv1 = "Output/all_combined.csv"
winter_summer = pd.read_csv(csv1)
winter_summer

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717732,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,1
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694.0,Jackson Square,40.711130,-74.078900,3679.0,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985.0,1
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977.0,1
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977.0,1
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,2

In [5]:
# code source: https://www.geeksforgeeks.org/how-to-drop-one-or-multiple-columns-in-pandas-dataframe/
winter_summer_chopped = winter_summer.drop(['start station id', 
                                            'start station name', 
                                            'end station id', 
                                           'end station name',
                                           'bikeid',
                                           'birth year', 'gender'], axis = 1)

In [6]:
winter_summer_chopped

,tripduration,starttime,stoptime,start station latitude,start station longitude,end station latitude,end station longitude,usertype
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,40.730743,-74.063784,40.725340,-74.067622,Subscriber
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,40.721525,-74.046305,40.714358,-74.066611,Subscriber
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,40.730743,-74.063784,40.714402,-74.088772,Subscriber
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,40.717732,-74.043845,40.718489,-74.047727,Subscriber
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,40.721651,-74.042884,40.725685,-74.048790,Subscriber
...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,40.711130,-74.078900,40.719282,-74.071262,Subscriber
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,40.711130,-74.078900,40.722104,-74.071455,Subscriber
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,40.711130,-74.078900,40.716247,-74.033459,Subscriber
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,40.711130,-74.078900,40.716247,-74.033459,Subscriber
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,40.711130,-74.078900,40.719282,-74.071262,Subscriber

In [7]:
# recalculate the tripduration to minutes
winter_summer_chopped['tripduration_mins'] = winter_summer_chopped['tripduration'] / 60
winter_summer_chopped

,tripduration,starttime,stoptime,start station latitude,start station longitude,end station latitude,end station longitude,usertype,tripduration_mins
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,40.730743,-74.063784,40.725340,-74.067622,Subscriber,8.316667
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,40.721525,-74.046305,40.714358,-74.066611,Subscriber,8.450000
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,40.730743,-74.063784,40.714402,-74.088772,Subscriber,12.800000
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,40.717732,-74.043845,40.718489,-74.047727,Subscriber,1.683333
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,40.721651,-74.042884,40.725685,-74.048790,Subscriber,4.416667
...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,40.711130,-74.078900,40.719282,-74.071262,Subscriber,6.116667
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,40.711130,-74.078900,40.722104,-74.071455,Subscriber,8.283333
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.983333
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,40.711130,-74.078900,40.716247,-74.033459,Subscriber,15.600000
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,40.711130,-74.078900,40.719282,-74.071262,Subscriber,13.700000

In [8]:
# output to csv file for easier reading in Tableau
winter_summer_chopped.to_csv('Output/winter_summer_smaller.csv', index=False)