In [1]:
import pandas as pd

In [2]:
# read csv dated June 2017
csv1 = "Output/all_combined.csv"
df = pd.read_csv(csv1)
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717732,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,1
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694.0,Jackson Square,40.711130,-74.078900,3679.0,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985.0,1
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977.0,1
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977.0,1
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,2

In [4]:
# read csv dated Mar 2017
csv2 = "Mar_Aug/Mar-17.csv"
mar_17 = pd.read_csv(csv2)
mar_17

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12196,239,2017-03-31 21:26:40,2017-03-31 21:30:39,3195,Sip Ave,40.730743,-74.063784,3201,Dey St,40.737711,-74.066921,29276,Subscriber,1970.0,1
12197,192,2017-03-31 21:46:57,2017-03-31 21:50:09,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26177,Subscriber,1976.0,1
12198,186,2017-03-31 22:03:56,2017-03-31 22:07:02,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26240,Subscriber,1956.0,1
12199,618,2017-03-31 23:20:14,2017-03-31 23:30:32,3272,Jersey & 3rd,40.723332,-74.045953,3268,Lafayette Park,40.713464,-74.062859,24398,Subscriber,1984.0,1
12200,649,2017-03-31 23:25:34,2017-03-31 23:36:23,3185,City Hall,40.717733,-74.043845,3190,Garfield Ave Station,40.710467,-74.070039,26200,Subscriber,1988.0,1

In [5]:
# read csv dated July 2017
csv3 = "Mar_Aug/Aug-17.csv"
aug_17 = pd.read_csv(csv3)
aug_17

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1314,2017-08-01 00:03:05,2017-08-01 00:24:59,3187,Warren St,40.721124,-74.038051,3210,Pershing Field,40.742677,-74.051789,26293,Subscriber,1968.0,1
1,221,2017-08-01 00:06:25,2017-08-01 00:10:06,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,26314,Subscriber,1968.0,2
2,185,2017-08-01 00:42:28,2017-08-01 00:45:33,3211,Newark Ave,40.721525,-74.046305,3269,Brunswick & 6th,40.726012,-74.050389,26196,Subscriber,1972.0,1
3,72,2017-08-01 00:45:06,2017-08-01 00:46:18,3269,Brunswick & 6th,40.726012,-74.050389,3209,Brunswick St,40.724176,-74.050656,29521,Subscriber,1996.0,1
4,499,2017-08-01 01:12:10,2017-08-01 01:20:30,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,29634,Subscriber,1984.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35467,416,2017-08-31 23:40:33,2017-08-31 23:47:30,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29589,Subscriber,1979.0,1
35468,165,2017-08-31 23:42:20,2017-08-31 23:45:06,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,29569,Subscriber,1985.0,1
35469,326,2017-08-31 23:42:34,2017-08-31 23:48:00,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,26163,Subscriber,1980.0,1
35470,345,2017-08-31 23:42:37,2017-08-31 23:48:23,3209,Brunswick St,40.724176,-74.050656,3272,Jersey & 3rd,40.723332,-74.045953,26297,Subscriber,1985.0,1
35471,332,2017-08-31 23:42:54,2017-08-31 23:48:27,3209,Brunswick St,40.724176,-74.050656,3272,Jersey & 3rd,40.723332,-74.045953,29232,Subscriber,1988.0,2

In [7]:
# copy and paste this list in order to rename column list for combined_w_df
mar_17.columns = ['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender']
mar_17

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1076,2017-03-01 00:03:02,2017-03-01 00:20:58,3275,Columbus Drive,40.718355,-74.038914,3207,Oakland Ave,40.737604,-74.052478,26283,Subscriber,1991.0,1
1,978,2017-03-01 00:09:02,2017-03-01 00:25:20,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24559,Subscriber,1987.0,1
2,1789,2017-03-01 00:28:11,2017-03-01 00:58:00,3195,Sip Ave,40.730743,-74.063784,3186,Grove St PATH,40.719586,-74.043117,24559,Subscriber,1987.0,1
3,613,2017-03-01 00:52:30,2017-03-01 01:02:44,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26261,Subscriber,1962.0,1
4,2418,2017-03-01 00:54:40,2017-03-01 01:34:59,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26277,Subscriber,1975.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12196,239,2017-03-31 21:26:40,2017-03-31 21:30:39,3195,Sip Ave,40.730743,-74.063784,3201,Dey St,40.737711,-74.066921,29276,Subscriber,1970.0,1
12197,192,2017-03-31 21:46:57,2017-03-31 21:50:09,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26177,Subscriber,1976.0,1
12198,186,2017-03-31 22:03:56,2017-03-31 22:07:02,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26240,Subscriber,1956.0,1
12199,618,2017-03-31 23:20:14,2017-03-31 23:30:32,3272,Jersey & 3rd,40.723332,-74.045953,3268,Lafayette Park,40.713464,-74.062859,24398,Subscriber,1984.0,1
12200,649,2017-03-31 23:25:34,2017-03-31 23:36:23,3185,City Hall,40.717733,-74.043845,3190,Garfield Ave Station,40.710467,-74.070039,26200,Subscriber,1988.0,1

In [8]:
# read csv dated Mar 2017
csv4 = "Mar_Aug/Mar-18.csv"
mar_18 = pd.read_csv(csv4)
mar_18

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29284,Subscriber,1981,1
1,118,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29465,Subscriber,1966,1
2,76,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29681,Subscriber,1975,1
3,578,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,31695,Subscriber,1970,1
4,485,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31802,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17104,239,2018-03-30 21:24:17.9440,2018-03-30 21:28:17.7570,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,29616,Subscriber,1990,1
17105,364,2018-03-31 00:45:26.4970,2018-03-31 00:51:31.4750,3640,Journal Square,40.733670,-74.062500,3212,Christ Hospital,40.734786,-74.050444,26228,Subscriber,1986,2
17106,336,2018-03-31 07:38:32.7490,2018-03-31 07:44:09.0950,3640,Journal Square,40.733670,-74.062500,3207,Oakland Ave,40.737604,-74.052478,31954,Subscriber,1971,1
17107,194,2018-03-31 12:08:09.5080,2018-03-31 12:11:23.7180,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,29491,Subscriber,1963,1
17108,290,2018-03-31 19:54:45.0990,2018-03-31 19:59:35.3650,3640,Journal Square,40.733670,-74.062500,3207,Oakland Ave,40.737604,-74.052478,31681,Subscriber,1989,1

In [9]:
# read csv dated Mar 2017
csv5 = "Mar_Aug/Aug-18.csv"
aug_18 = pd.read_csv(csv5)
aug_18

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44427,462,2018-08-25 16:17:05.8840,2018-08-25 16:24:48.5890,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29544,Subscriber,1990,1
44428,636,2018-08-28 12:31:22.4380,2018-08-28 12:41:59.2110,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29544,Subscriber,1990,1
44429,954,2018-08-30 08:08:18.9250,2018-08-30 08:24:13.7900,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29526,Subscriber,1977,1
44430,920,2018-08-31 08:08:54.2450,2018-08-31 08:24:14.8890,3694,Jackson Square,40.711130,-74.078900,3184,Paulus Hook,40.714145,-74.033552,33633,Subscriber,1977,1
44431,1017,2018-08-31 12:57:23.8390,2018-08-31 13:14:20.9290,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29288,Subscriber,1964,1

In [10]:
# read csv dated Mar 2017
csv6 = "Mar_Aug/Mar-19.csv"
mar_19 = pd.read_csv(csv6)
mar_19

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23601,916,2019-03-29 13:38:36.1750,2019-03-29 13:53:53.0100,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29277,Subscriber,1988,1
23602,661,2019-03-29 15:29:18.7510,2019-03-29 15:40:20.2510,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2
23603,577,2019-03-30 13:43:09.2090,2019-03-30 13:52:46.7140,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1
23604,585,2019-03-31 08:33:21.5200,2019-03-31 08:43:06.7520,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1
23605,914,2019-03-31 14:59:32.3980,2019-03-31 15:14:46.8480,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29634,Subscriber,1993,2

In [11]:
# read csv dated Mar 2017
csv7 = "Mar_Aug/Aug-19.csv"
aug_19 = pd.read_csv(csv7)
aug_19

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-08-01 00:14:55.9900,2019-08-01 00:19:17.4780,3205,JC Medical Center,40.716540,-74.049638,3192,Liberty Light Rail,40.711242,-74.055701,26268,Subscriber,1980,1
1,172,2019-08-01 00:23:06.9910,2019-08-01 00:25:59.1480,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1996,1
2,525,2019-08-01 00:23:28.6170,2019-08-01 00:32:13.7000,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29279,Subscriber,1991,1
3,219,2019-08-01 00:32:36.1410,2019-08-01 00:36:15.2730,3187,Warren St,40.721124,-74.038051,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1988,1
4,262,2019-08-01 00:41:26.6700,2019-08-01 00:45:49.3530,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,26162,Subscriber,1960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,3639,Harborside,40.719252,-74.034234,3203,Hamilton Park,40.727596,-74.044247,29522,Subscriber,1988,1
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,29679,Customer,1997,1
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,3276,Marin Light Rail,40.714584,-74.042817,3211,Newark Ave,40.721525,-74.046305,26198,Subscriber,1997,2
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29512,Subscriber,1998,1
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,26223,Subscriber,1992,1

In [14]:
combined_JanAug_1719 = pd.concat([df, mar_17, aug_17, mar_18, aug_18, mar_19, aug_19])

In [15]:
# output new csv
combined_JanAug_1719.to_csv('combined_JanAug_1719.csv', index=False)

In [16]:
# calculate trip duration by hours (divide current tripduration by 3600)
combined_JanAug_1719['tripduration_hrs'] = combined_JanAug_1719['tripduration'] / 3600
combined_JanAug_1719

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_hrs
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1,0.138611
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1,0.140833
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1,0.213333
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717732,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1,0.028056
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2,0.073611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,3639.0,Harborside,40.719252,-74.034234,3203.0,Hamilton Park,40.727596,-74.044247,29522,Subscriber,1988.0,1,0.106667
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,3186.0,Grove St PATH,40.719586,-74.043117,3185.0,City Hall,40.717733,-74.043845,29679,Customer,1997.0,1,0.175833
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,3276.0,Marin Light Rail,40.714584,-74.042817,3211.0,Newark Ave,40.721525,-74.046305,26198,Subscriber,1997.0,2,0.090000
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,3211.0,Newark Ave,40.721525,-74.046305,3209.0,Brunswick St,40.724176,-74.050656,29512,Subscriber,1998.0,1,0.035000
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,3185.0,City Hall,40.717733,-74.043845,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,26223,Subscriber,1992.0,1,0.191667

In [17]:
# drop some columns
df2 = combined_JanAug_1719.drop(['start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude'], axis = 1)

In [20]:
df2

,tripduration,starttime,stoptime,bikeid,usertype,birth year,gender,tripduration_hrs
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,29590,Subscriber,1979.0,1,0.138611
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,29453,Subscriber,1969.0,1,0.140833
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,26193,Subscriber,1962.0,1,0.213333
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,29284,Subscriber,1983.0,1,0.028056
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,29645,Subscriber,1980.0,2,0.073611
...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,29522,Subscriber,1988.0,1,0.106667
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,29679,Customer,1997.0,1,0.175833
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,26198,Subscriber,1997.0,2,0.090000
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,29512,Subscriber,1998.0,1,0.035000
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,26223,Subscriber,1992.0,1,0.191667

In [19]:
df2.to_csv('Output/condensed_JanAug_1719.csv', index=False)

In [23]:
df2['tripduration_hrs'].max()

2103.1494444444443

In [25]:
df2['tripduration_hrs'].describe()

count    8.513300e+06
mean     3.024977e-01
std      4.679832e+00
min      1.694444e-02
25%      1.038889e-01
50%      1.797222e-01
75%      3.188889e-01
max      2.103149e+03
Name: tripduration_hrs, dtype: float64

In [28]:
#create age category
df2['age'] = 2020 - df2['birth year']
df2

,tripduration,starttime,stoptime,bikeid,usertype,birth year,gender,tripduration_hrs,age
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,29590,Subscriber,1979.0,1,0.138611,41.0
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,29453,Subscriber,1969.0,1,0.140833,51.0
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,26193,Subscriber,1962.0,1,0.213333,58.0
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,29284,Subscriber,1983.0,1,0.028056,37.0
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,29645,Subscriber,1980.0,2,0.073611,40.0
...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,29522,Subscriber,1988.0,1,0.106667,32.0
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,29679,Customer,1997.0,1,0.175833,23.0
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,26198,Subscriber,1997.0,2,0.090000,23.0
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,29512,Subscriber,1998.0,1,0.035000,22.0
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,26223,Subscriber,1992.0,1,0.191667,28.0

In [29]:
#next steps:
# omit ages that are false
df2 = df2.dropna(how = 'all') 
  
# Filter all rows for which the player's 
# age is greater than or equal to 25 
df2.drop(df2[df2['age'] > 101].index, inplace = True)

In [30]:
df2

,tripduration,starttime,stoptime,bikeid,usertype,birth year,gender,tripduration_hrs,age
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,29590,Subscriber,1979.0,1,0.138611,41.0
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,29453,Subscriber,1969.0,1,0.140833,51.0
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,26193,Subscriber,1962.0,1,0.213333,58.0
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,29284,Subscriber,1983.0,1,0.028056,37.0
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,29645,Subscriber,1980.0,2,0.073611,40.0
...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,29522,Subscriber,1988.0,1,0.106667,32.0
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,29679,Customer,1997.0,1,0.175833,23.0
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,26198,Subscriber,1997.0,2,0.090000,23.0
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,29512,Subscriber,1998.0,1,0.035000,22.0
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,26223,Subscriber,1992.0,1,0.191667,28.0

In [32]:
df2 = df2.dropna(how = 'all') 
  
# Filter all rows for which the player's 
# age is greater than or equal to 25 
df2.drop(df2[df2['tripduration_hrs'] > 3.188889e-01].index, inplace = True)

In [33]:
df2.to_csv('Output/condensed_JANoOutliers.csv', index=False)

In [ ]:
# get rid of outrageous outliers on "tripduration_hrs" -- how to determine what's formally an outlier?