In [33]:
import pandas as pd

In [34]:
# read csv dated June 2017
csv1 = "Output/all_combined.csv"
winter_summer = pd.read_csv(csv1)
winter_summer

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717732,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,1
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694.0,Jackson Square,40.711130,-74.078900,3679.0,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985.0,1
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977.0,1
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977.0,1
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,2

In [35]:
winter_summer['age'] = 2020 - winter_summer['birth year']
winter_summer

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,3195.0,Sip Ave,40.730743,-74.063784,3194.0,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1,41.0
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,3211.0,Newark Ave,40.721525,-74.046305,3277.0,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1,51.0
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,3195.0,Sip Ave,40.730743,-74.063784,3189.0,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1,58.0
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,3185.0,City Hall,40.717732,-74.043845,3213.0,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1,37.0
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,3273.0,Manila & 1st,40.721651,-74.042884,3278.0,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,1,37.0
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,3694.0,Jackson Square,40.711130,-74.078900,3679.0,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985.0,1,35.0
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977.0,1,43.0
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,3694.0,Jackson Square,40.711130,-74.078900,3183.0,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977.0,1,43.0
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,3694.0,Jackson Square,40.711130,-74.078900,3280.0,Astor Place,40.719282,-74.071262,26189,Subscriber,1983.0,2,37.0

In [36]:
# code source: https://www.geeksforgeeks.org/how-to-drop-one-or-multiple-columns-in-pandas-dataframe/
winter_summer = winter_summer.drop(['start station id',  
                                            'end station id', 
                                           'end station name'], axis = 1)

In [37]:
winter_summer['tripduration_mins'] = winter_summer['tripduration'] / 60
# winter_summer_chopped

In [38]:
winter_summer['tripduration_hrs'] = winter_summer['tripduration_mins'] / 60

In [39]:
winter_summer

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration_mins,tripduration_hrs
0,499,2017-06-01 00:01:39,2017-06-01 00:09:59,Sip Ave,40.730743,-74.063784,40.725340,-74.067622,29590,Subscriber,1979.0,1,41.0,8.316667,0.138611
1,507,2017-06-01 00:06:39,2017-06-01 00:15:07,Newark Ave,40.721525,-74.046305,40.714358,-74.066611,29453,Subscriber,1969.0,1,51.0,8.450000,0.140833
2,768,2017-06-01 00:44:43,2017-06-01 00:57:31,Sip Ave,40.730743,-74.063784,40.714402,-74.088772,26193,Subscriber,1962.0,1,58.0,12.800000,0.213333
3,101,2017-06-01 01:12:55,2017-06-01 01:14:36,City Hall,40.717732,-74.043845,40.718489,-74.047727,29284,Subscriber,1983.0,1,37.0,1.683333,0.028056
4,265,2017-06-01 01:14:00,2017-06-01 01:18:25,Manila & 1st,40.721651,-74.042884,40.725685,-74.048790,29645,Subscriber,1980.0,2,40.0,4.416667,0.073611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,2019-02-21 12:11:13.2210,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,1,37.0,6.116667,0.101944
8331765,497,2019-02-21 17:45:00.4510,2019-02-21 17:53:18.1580,Jackson Square,40.711130,-74.078900,40.722104,-74.071455,29296,Subscriber,1985.0,1,35.0,8.283333,0.138056
8331766,959,2019-02-25 06:17:31.9310,2019-02-25 06:33:31.4950,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29673,Subscriber,1977.0,1,43.0,15.983333,0.266389
8331767,936,2019-02-26 06:14:45.4170,2019-02-26 06:30:21.8750,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29672,Subscriber,1977.0,1,43.0,15.600000,0.260000
8331768,822,2019-02-26 15:45:20.5370,2019-02-26 15:59:02.6070,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,2,37.0,13.700000,0.228333

In [40]:
winter_summer = winter_summer.drop(['stoptime'], axis = 1)

In [41]:
winter_summer

,tripduration,starttime,start station name,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration_mins,tripduration_hrs
0,499,2017-06-01 00:01:39,Sip Ave,40.730743,-74.063784,40.725340,-74.067622,29590,Subscriber,1979.0,1,41.0,8.316667,0.138611
1,507,2017-06-01 00:06:39,Newark Ave,40.721525,-74.046305,40.714358,-74.066611,29453,Subscriber,1969.0,1,51.0,8.450000,0.140833
2,768,2017-06-01 00:44:43,Sip Ave,40.730743,-74.063784,40.714402,-74.088772,26193,Subscriber,1962.0,1,58.0,12.800000,0.213333
3,101,2017-06-01 01:12:55,City Hall,40.717732,-74.043845,40.718489,-74.047727,29284,Subscriber,1983.0,1,37.0,1.683333,0.028056
4,265,2017-06-01 01:14:00,Manila & 1st,40.721651,-74.042884,40.725685,-74.048790,29645,Subscriber,1980.0,2,40.0,4.416667,0.073611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,1,37.0,6.116667,0.101944
8331765,497,2019-02-21 17:45:00.4510,Jackson Square,40.711130,-74.078900,40.722104,-74.071455,29296,Subscriber,1985.0,1,35.0,8.283333,0.138056
8331766,959,2019-02-25 06:17:31.9310,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29673,Subscriber,1977.0,1,43.0,15.983333,0.266389
8331767,936,2019-02-26 06:14:45.4170,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29672,Subscriber,1977.0,1,43.0,15.600000,0.260000
8331768,822,2019-02-26 15:45:20.5370,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,2,37.0,13.700000,0.228333

In [42]:
winter_summer.dropna(subset=['usertype'])

,tripduration,starttime,start station name,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration_mins,tripduration_hrs
0,499,2017-06-01 00:01:39,Sip Ave,40.730743,-74.063784,40.725340,-74.067622,29590,Subscriber,1979.0,1,41.0,8.316667,0.138611
1,507,2017-06-01 00:06:39,Newark Ave,40.721525,-74.046305,40.714358,-74.066611,29453,Subscriber,1969.0,1,51.0,8.450000,0.140833
2,768,2017-06-01 00:44:43,Sip Ave,40.730743,-74.063784,40.714402,-74.088772,26193,Subscriber,1962.0,1,58.0,12.800000,0.213333
3,101,2017-06-01 01:12:55,City Hall,40.717732,-74.043845,40.718489,-74.047727,29284,Subscriber,1983.0,1,37.0,1.683333,0.028056
4,265,2017-06-01 01:14:00,Manila & 1st,40.721651,-74.042884,40.725685,-74.048790,29645,Subscriber,1980.0,2,40.0,4.416667,0.073611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8331764,367,2019-02-21 12:05:05.2680,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,1,37.0,6.116667,0.101944
8331765,497,2019-02-21 17:45:00.4510,Jackson Square,40.711130,-74.078900,40.722104,-74.071455,29296,Subscriber,1985.0,1,35.0,8.283333,0.138056
8331766,959,2019-02-25 06:17:31.9310,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29673,Subscriber,1977.0,1,43.0,15.983333,0.266389
8331767,936,2019-02-26 06:14:45.4170,Jackson Square,40.711130,-74.078900,40.716247,-74.033459,29672,Subscriber,1977.0,1,43.0,15.600000,0.260000
8331768,822,2019-02-26 15:45:20.5370,Jackson Square,40.711130,-74.078900,40.719282,-74.071262,26189,Subscriber,1983.0,2,37.0,13.700000,0.228333

In [45]:
# First filter out those rows which 
# does not contain any data 
winter_summer = winter_summer.dropna(how = 'all') 
  
# Filter all rows for which the player's 
# age is greater than or equal to 25 
winter_summer.drop(winter_summer[winter_summer['age'] > 101].index, inplace = True) 
  
# # Print the modified dataframe 
# print(winter_summer.head(15)) 
  
# # Print the shape of the dataframe 
# print(winter_summer.shape)

KeyboardInterrupt:

In [47]:
winter_summer.head(2)

,tripduration,starttime,start station name,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration_mins,tripduration_hrs
0,499,2017-06-01 00:01:39,Sip Ave,40.730743,-74.063784,40.725340,-74.067622,29590,Subscriber,1979.0,1,41.0,8.316667,0.138611
1,507,2017-06-01 00:06:39,Newark Ave,40.721525,-74.046305,40.714358,-74.066611,29453,Subscriber,1969.0,1,51.0,8.450000,0.140833

In [48]:
winter_summer['age'].max()

101.0

In [49]:
winter_summer.to_csv('Output/age_w_s_condensed.csv', index=False)